<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp1/style.css' %}"/>
    <title> Online Grocery Store - {% block title %} Welcome! {% endblock %}</title>
</head>
<body>
<div>
    <h1>{% block myhdg %} Hello Group 4 {% endblock %}</h1>
    {% block body_block %}*** {% endblock %}
</div>
<hr />
<div>
    <ul>
        <li class="hbar1"><a href="http://127.0.0.1:8000/about/"> Find out about this site </a></li>
        <li class="hbar1"><a href = "{% url 'groclist:index'%}"> Click here to return to main page </a><br/></li>
        <li class="hbar1"><a href = "{% url 'groclist:items'%}"> Click here to return to items page </a><br/></li>
    </ul>
</div>
</body>
