<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place Order</title>
</head>
<body>
<h1>You can place your order here.</h1>
{% if item_list%}
<h2>List of Available Items </h2>
<ol>
	{%for item in item_list%}
            <li>{{ item.name }}</li>
    {% endfor%}
</ol>
{% else %}
<strong>None of the items is available!</strong>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
</body>
</html>